.bg-gradient {
  background: radial-gradient(49.10% 52.07% at 95.73% -0.00%, rgba(5, 150, 105, 0.30) 0%, rgba(5, 150, 105, 0.00) 100%), radial-gradient(51.81% 64.89% at 9.39% 17.56%, rgba(5, 150, 105, 0.30) 0%, rgba(5, 150, 105, 0.00) 100%), radial-gradient(70.77% 73.42% at 98.67% 105.72%, rgba(5, 150, 105, 0.20) 0%, rgba(5, 150, 105, 0.00) 100%), radial-gradient(50.46% 63.85% at 0.00% 124.20%, rgba(5, 150, 105, 0.20) 0%, rgba(5, 150, 105, 0.00) 100%), #000;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.bg-gradient::after {
  background: url('/noise.png');
  background-repeat: repeat;
  background-attachment: fixed;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  mix-blend-mode: color-dodge;

} 



body {
  overflow-x: hidden;
}